
@{
    ViewData["Title"] = "Index";
}

<<div class="section">
        <div class="container">
            <div class="korporativ-satishlar">
                <div class="krp-top">
                    <p>Korporativ Satışlar</p>
                    <p>WorldTelecom 22 ildir Azərbaycan bazarında fəaliyyət göstərən elektronika mağazasıdır. <br>
    
                        Hər barədə özünün “sərfəlidir” sloqanının haqqını verən WorldTelecom, Korporativ satışlarda da sərfəli qiymətləri ilə seçilir.
                    </p>
                </div>
                <div class="krp-body">
                    <h2>"Korporativ Müştəri” statusu nələr qazandırır?</h2>
                    <ul>
                        <li><h2>- Büdcəyə qənaət.</h2>
                        <p>WorldTelecom-un Korporativ müştəriləri hər hansı bir məhsulu istər nağd, istərsə də kreditlə aldıqda, xüsusi endirimlərdən yararlanırlar.</p>
                        </li>
                        <li><h2>- Vaxta qənaət.</h2>
                            <p>İstənilən məhsul şəhər daxilində göstərilən ünvana ödənişsiz və ödəniş edilmədən öncə çatdırılır. Ödənişlər nağd və köçürmə yolu ilə aparıla bilər.</p>
                        </li>
                        <li><h2>- Özəl xidmət.</h2>
                            <p>Özəl olaraq təyin olunmuş xüsusi nümayəndə hər zaman korporativ müştərilərimizin xidmətindədir.</p>
                        </li>
                        <li><h2>- Yerində həll.</h2>
                            <p>Yarana biləcək texniki nasazlıqlar, səyyar mütəxəssislərimiz tərəfindən yerindəcə aradan qaldırılır.</p>
                        </li>
                        <li><h2>- Hədiyyələr.</h2>
                            <p>WorldTelecom korporativ əməkdaşlarına hər zaman xüsusi yanaşır.</p>
                        </li>
                    </ul>
                </div>
                <div class="krp-bottom">
                    <p class="pred">Korporativ Müştəri Statusu - büdcəyə və vaxta qənaət, rahatlıq, sərbəstlik və prestij dеməkdir.
                        <br>
                        Gəlin əməkdaşlıq edək.</p>
                        <p>Əlaqə:
                            <br>
                            050 229 87 27
                            <br>
                            050 229 87 37
                            <br>
                            050 229 87 57
                            <br>
                            corporate@w-t.az</p>
                </div>
            </div>
        </div>
    </div>
