
@{
    ViewData["Title"] = "Index";
}

  <div class="section">
        <div class="container">
            <div class="products-all">
                <div class="products-all-top">
                    <form>
                        <select>
                          <option value="baha-ucuz">Bahadan ucuza</option>
                          <option value="ucuz-baha">Ucuzdan bahaya</option>
                        </select>                       
                      </form>
                </div>
                <div class="products-all-body col-lg-12">
                    <div class="left-choosing col-lg-3">
                        <div class="choosing-box">
                            <div class="choosing-box-top">
                                <p>Marka</p>
                                <input type="text" placeholder="Axtar">
                            </div>
                            <div class="choosing-box-filter">
                                <ul>
                                    <li>
                                        <input type="checkbox">
                                        <span>Apple</span>
                                    </li>
                                    <li>
                                        <input type="checkbox">
                                        <span>Samsung</span>
                                    </li>
                                    <li>
                                        <input type="checkbox">
                                        <span>Xiaomi</span>
                                    </li>
                                    <li>
                                        <input type="checkbox">
                                        <span>LG</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="filter-sort">
                            <div class="filter-price">
                                <div class="fp-top">
                                    <p>Qiymet (AZN)</p>
                                </div>
                                <div class="fp-bottom">
                                    <div class="min-price">
                                        <input type="number" placeholder="En az">
                                    </div>
                                    <div class="max-price">
                                        <input type="number" placeholder="En cox">
                                    </div>
                                    <div class="price-ready-btn">
                                        <img src="~/assets/img/readyqalka.svg" alt="hazrdi">
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="right-products col-lg-9">
                        <div class="home-all-mehsullar">
                            <div class="mehsullar">
                                <div class="mehsul col-lg-3">
                                    <div class="mehsul-box">
                                        <div class="mehsul-box-img">
                                            <div class="card-cash">
                                                <div class="card-cash-img">
                                                <img src="~/assets/img/svgexport-21.svg" alt="">
                                                </div>    
                                                <div class="card-cash-discount">
                                                    <span>Nağd alışda 100₼ endirim</span>   
                                                </div>                          
                                            </div>
                                            <div class="card-favori" >
                                                <img src="~/assets/img/svgexport-22.svg" alt="" class="dddddd" onclick="chBackcolor('red')">
                                            </div>
                                            <img src="~/assets/img/Mehsullarjpg/sierra-blue-min.jpg" alt="mehsulun sekili">
                                        </div>
                                        <div class="mehsul-box-bottom">
                                            <div class="mehsul-categorie-name">
                                                <ul>
                                                    <li>TV, Audio və Əyləncə</li>
                                                </ul>
                                                <h3>Porodo LifeStyle Electric Urban Scooter</h3>
                                            </div>
                                            <div class="mehsul-price-month">
                                                <div class="mehsul-price">
                                                    <p>790</p>
                                                    <img src="~/assets/img/svgexport-25.svg" alt="">
                                                </div>
                                                <div class="mehsul-month">
                                                    <p>12 ay</p>
                                                    <div class="month-price">
                                                        <p>65.83</p>
                                                        <img src="~/assets/img/svgexport-26.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mehsul-buynow-basket">
                                                <div class="buynow">
                                                    <p>Indi al</p>
                                                </div>
                                                <div class="gotobasket">
                                                    <img src="~/assets/img/svgexport-27.svg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mehsul col-lg-3">
                                    <div class="mehsul-box">
                                        <div class="mehsul-box-img">
                                            <div class="card-cash">
                                                <div class="card-cash-img">
                                                <img src="~/assets/img/svgexport-21.svg" alt="">
                                                </div>    
                                                <div class="card-cash-discount">
                                                    <span>Nağd alışda 100₼ endirim</span>   
                                                </div>                          
                                            </div>
                                            <div class="card-favori" >
                                                <img src="~/assets/img/svgexport-22.svg" alt="" class="dddddd" onclick="chBackcolor('red')">
                                            </div>
                                            <img src="~/assets/img/Mehsullarjpg/sierra-blue-min.jpg" alt="mehsulun sekili">
                                        </div>
                                        <div class="mehsul-box-bottom">
                                            <div class="mehsul-categorie-name">
                                                <ul>
                                                    <li>TV, Audio və Əyləncə</li>
                                                </ul>
                                                <h3>Porodo LifeStyle Electric Urban Scooter</h3>
                                            </div>
                                            <div class="mehsul-price-month">
                                                <div class="mehsul-price">
                                                    <p>790</p>
                                                    <img src="~/assets/img/svgexport-25.svg" alt="">
                                                </div>
                                                <div class="mehsul-month">
                                                    <p>12 ay</p>
                                                    <div class="month-price">
                                                        <p>65.83</p>
                                                        <img src="~/assets/img/svgexport-26.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mehsul-buynow-basket">
                                                <div class="buynow">
                                                    <p>Indi al</p>
                                                </div>
                                                <div class="gotobasket">
                                                    <img src="~/assets/img/svgexport-27.svg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mehsul col-lg-3">
                                    <div class="mehsul-box">
                                        <div class="mehsul-box-img">
                                            <div class="card-cash">
                                                <div class="card-cash-img">
                                                <img src="~/assets/img/svgexport-21.svg" alt="">
                                                </div>    
                                                <div class="card-cash-discount">
                                                    <span>Nağd alışda 100₼ endirim</span>   
                                                </div>                          
                                            </div>
                                            <div class="card-favori" >
                                                <img src="~/assets/img/svgexport-22.svg" alt="" class="dddddd" onclick="chBackcolor('red')">
                                            </div>
                                            <img src="~/assets/img/Mehsullarjpg/sierra-blue-min.jpg" alt="mehsulun sekili">
                                        </div>
                                        <div class="mehsul-box-bottom">
                                            <div class="mehsul-categorie-name">
                                                <ul>
                                                    <li>TV, Audio və Əyləncə</li>
                                                </ul>
                                                <h3>Porodo LifeStyle Electric Urban Scooter</h3>
                                            </div>
                                            <div class="mehsul-price-month">
                                                <div class="mehsul-price">
                                                    <p>790</p>
                                                    <img src="~/assets/img/svgexport-25.svg" alt="">
                                                </div>
                                                <div class="mehsul-month">
                                                    <p>12 ay</p>
                                                    <div class="month-price">
                                                        <p>65.83</p>
                                                        <img src="~/assets/img/svgexport-26.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mehsul-buynow-basket">
                                                <div class="buynow">
                                                    <p>Indi al</p>
                                                </div>
                                                <div class="gotobasket">
                                                    <img src="~/assets/img/svgexport-27.svg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
