
@{
    ViewData["Title"] = "Index";
}

  <div class="section">
        <div class="container">
            <div class="blog-box">
               <div class="bloq-box-1">
                <img src="~/assets/img/Bloq.svg" alt="bloq">
               </div>
               <div class="bloq-box-text">
                <h2>Bloq.</h2>
               </div>

            </div>
        
        </div>
    </div>


