
@{
    ViewData["Title"] = "Index";
}
<div class="section">
        <div class="container">
           <div class="markets">
            <div class="markets-top">
                <h2>Satış nöqtələrimiz</h2>
            </div>
            <div class="markets-body">
                <div class="markets-box">
                    <h3>“Nərimanov 1” filialı</h3>
                    <p>Təbriz küçəsi 95 (“N. Nərimanov” m/s)</p>
                    <p>*2555</p>
                    <div class="xeritede-bax">
                        <div class="xeritede-bax-text">
                            <a href="#">Xəritədə bax</a>
                            <a href="#"><img src="~/assets/img/svgexport-19.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="markets-box">
                    <h3>“Nərimanov 1” filialı</h3>
                    <p>Təbriz küçəsi 95 (“N. Nərimanov” m/s)</p>
                    <p>*2555</p>
                    <div class="xeritede-bax">
                        <div class="xeritede-bax-text">
                            <a href="#">Xəritədə bax</a>
                            <a href="#"><img src="~/assets/img/svgexport-19.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="markets-box">
                    <h3>“Nərimanov 1” filialı</h3>
                    <p>Təbriz küçəsi 95 (“N. Nərimanov” m/s)</p>
                    <p>*2555</p>
                    <div class="xeritede-bax">
                        <div class="xeritede-bax-text">
                            <a href="#">Xəritədə bax</a>
                            <a href="#"><img src="~/assets/img/svgexport-19.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="markets-body">
                <div class="markets-box">
                    <h3>“Nərimanov 1” filialı</h3>
                    <p>Təbriz küçəsi 95 (“N. Nərimanov” m/s)</p>
                    <p>*2555</p>
                    <div class="xeritede-bax">
                        <div class="xeritede-bax-text">
                            <a href="#">Xəritədə bax</a>
                            <a href="#"><img src="~/assets/img/svgexport-19.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="markets-box">
                    <h3>“Nərimanov 1” filialı</h3>
                    <p>Təbriz küçəsi 95 (“N. Nərimanov” m/s)</p>
                    <p>*2555</p>
                    <div class="xeritede-bax">
                        <div class="xeritede-bax-text">
                            <a href="#">Xəritədə bax</a>
                            <a href="#"><img src="~/assets/img/svgexport-19.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="markets-box">
                    <h3>“Nərimanov 1” filialı</h3>
                    <p>Təbriz küçəsi 95 (“N. Nərimanov” m/s)</p>
                    <p>*2555</p>
                    <div class="xeritede-bax">
                        <div class="xeritede-bax-text">
                            <a href="#">Xəritədə bax</a>
                            <a href="#"><img src="~/assets/img/svgexport-19.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="markets-body">
                <div class="markets-box">
                    <h3>“Nərimanov 1” filialı</h3>
                    <p>Təbriz küçəsi 95 (“N. Nərimanov” m/s)</p>
                    <p>*2555</p>
                    <div class="xeritede-bax">
                        <div class="xeritede-bax-text">
                            <a href="#">Xəritədə bax</a>
                            <a href="#"><img src="~/assets/img/svgexport-19.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="markets-box">
                    <h3>“Nərimanov 1” filialı</h3>
                    <p>Təbriz küçəsi 95 (“N. Nərimanov” m/s)</p>
                    <p>*2555</p>
                    <div class="xeritede-bax">
                        <div class="xeritede-bax-text">
                            <a href="#">Xəritədə bax</a>
                            <a href="#"><img src="~/assets/img/svgexport-19.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="markets-box">
                    <h3>“Nərimanov 1” filialı</h3>
                    <p>Təbriz küçəsi 95 (“N. Nərimanov” m/s)</p>
                    <p>*2555</p>
                    <div class="xeritede-bax">
                        <div class="xeritede-bax-text">
                            <a href="#">Xəritədə bax</a>
                            <a href="#"><img src="~/assets/img/svgexport-19.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="markets-body">
                <div class="markets-box">
                    <h3>“Nərimanov 1” filialı</h3>
                    <p>Təbriz küçəsi 95 (“N. Nərimanov” m/s)</p>
                    <p>*2555</p>
                    <div class="xeritede-bax">
                        <div class="xeritede-bax-text">
                            <a href="#">Xəritədə bax</a>
                            <a href="#"><img src="~/assets/img/svgexport-19.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="markets-box">
                    <h3>“Nərimanov 1” filialı</h3>
                    <p>Təbriz küçəsi 95 (“N. Nərimanov” m/s)</p>
                    <p>*2555</p>
                    <div class="xeritede-bax">
                        <div class="xeritede-bax-text">
                            <a href="#">Xəritədə bax</a>
                            <a href="#"><img src="~/assets/img/svgexport-19.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="markets-box">
                    <h3>“Nərimanov 1” filialı</h3>
                    <p>Təbriz küçəsi 95 (“N. Nərimanov” m/s)</p>
                    <p>*2555</p>
                    <div class="xeritede-bax">
                        <div class="xeritede-bax-text">
                            <a href="#">Xəritədə bax</a>
                            <a href="#"><img src="~/assets/img/svgexport-19.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="markets-body">
                <div class="markets-box">
                    <h3>“Nərimanov 1” filialı</h3>
                    <p>Təbriz küçəsi 95 (“N. Nərimanov” m/s)</p>
                    <p>*2555</p>
                    <div class="xeritede-bax">
                        <div class="xeritede-bax-text">
                            <a href="#">Xəritədə bax</a>
                            <a href="#"><img src="~/assets/img/svgexport-19.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="markets-box">
                    <h3>“Nərimanov 1” filialı</h3>
                    <p>Təbriz küçəsi 95 (“N. Nərimanov” m/s)</p>
                    <p>*2555</p>
                    <div class="xeritede-bax">
                        <div class="xeritede-bax-text">
                            <a href="#">Xəritədə bax</a>
                            <a href="#"><img src="~/assets/img/svgexport-19.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="markets-box">
                    <h3>“Nərimanov 1” filialı</h3>
                    <p>Təbriz küçəsi 95 (“N. Nərimanov” m/s)</p>
                    <p>*2555</p>
                    <div class="xeritede-bax">
                        <div class="xeritede-bax-text">
                            <a href="#">Xəritədə bax</a>
                            <a href="#"><img src="~/assets/img/svgexport-19.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="markets-body">
                <div class="markets-box">
                    <h3>“Nərimanov 1” filialı</h3>
                    <p>Təbriz küçəsi 95 (“N. Nərimanov” m/s)</p>
                    <p>*2555</p>
                    <div class="xeritede-bax">
                        <div class="xeritede-bax-text">
                            <a href="#">Xəritədə bax</a>
                            <a href="#"><img src="~/assets/img/svgexport-19.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="markets-box">
                    <h3>“Nərimanov 1” filialı</h3>
                    <p>Təbriz küçəsi 95 (“N. Nərimanov” m/s)</p>
                    <p>*2555</p>
                    <div class="xeritede-bax">
                        <div class="xeritede-bax-text">
                            <a href="#">Xəritədə bax</a>
                            <a href="#"><img src="~/assets/img/svgexport-19.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="markets-box">
                    <h3>“Nərimanov 1” filialı</h3>
                    <p>Təbriz küçəsi 95 (“N. Nərimanov” m/s)</p>
                    <p>*2555</p>
                    <div class="xeritede-bax">
                        <div class="xeritede-bax-text">
                            <a href="#">Xəritədə bax</a>
                            <a href="#"><img src="~/assets/img/svgexport-19.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="markets-body">
                <div class="markets-box">
                    <h3>“Nərimanov 1” filialı</h3>
                    <p>Təbriz küçəsi 95 (“N. Nərimanov” m/s)</p>
                    <p>*2555</p>
                    <div class="xeritede-bax">
                        <div class="xeritede-bax-text">
                            <a href="#">Xəritədə bax</a>
                            <a href="#"><img src="~/assets/img/svgexport-19.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="markets-box">
                    <h3>“Nərimanov 1” filialı</h3>
                    <p>Təbriz küçəsi 95 (“N. Nərimanov” m/s)</p>
                    <p>*2555</p>
                    <div class="xeritede-bax">
                        <div class="xeritede-bax-text">
                            <a href="#">Xəritədə bax</a>
                            <a href="#"><img src="~/assets/img/svgexport-19.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="markets-box">
                    <h3>“Nərimanov 1” filialı</h3>
                    <p>Təbriz küçəsi 95 (“N. Nərimanov” m/s)</p>
                    <p>*2555</p>
                    <div class="xeritede-bax">
                        <div class="xeritede-bax-text">
                            <a href="#">Xəritədə bax</a>
                            <a href="#"><img src="~/assets/img/svgexport-19.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="markets-body">
                <div class="markets-box">
                    <h3>“Nərimanov 1” filialı</h3>
                    <p>Təbriz küçəsi 95 (“N. Nərimanov” m/s)</p>
                    <p>*2555</p>
                    <div class="xeritede-bax">
                        <div class="xeritede-bax-text">
                            <a href="#">Xəritədə bax</a>
                            <a href="#"><img src="~/assets/img/svgexport-19.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="markets-box">
                    <h3>“Nərimanov 1” filialı</h3>
                    <p>Təbriz küçəsi 95 (“N. Nərimanov” m/s)</p>
                    <p>*2555</p>
                    <div class="xeritede-bax">
                        <div class="xeritede-bax-text">
                            <a href="#">Xəritədə bax</a>
                            <a href="#"><img src="~/assets/img/svgexport-19.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="markets-box">
                    <h3>“Nərimanov 1” filialı</h3>
                    <p>Təbriz küçəsi 95 (“N. Nərimanov” m/s)</p>
                    <p>*2555</p>
                    <div class="xeritede-bax">
                        <div class="xeritede-bax-text">
                            <a href="#">Xəritədə bax</a>
                            <a href="#"><img src="~/assets/img/svgexport-19.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                
            </div>
           

           </div>
        </div>
    </div>
