
@{
    ViewData["Title"] = "Index";
}

  <section>
        <div class="container">
            <div class="basket-name">
                <h2>Səbətim</h2>
            </div>
            <div class="basket-home">
                <div class="basket-all-left col-lg-9">
                    <div class="basket-body">
                        <div class="basket-product">
                            <div class="delete-product">
                                X
                            </div>
                            <a href="#">
                                <img src="~/assets/img/productjpg/13pro.jpg" alt="">
                            </a>
                            <div class="basket-product-info">
                                <div class="info-name">
                                    <p>Apple iPhone 13 Pro 128GB Sierra Blue</p>
                                </div>
                                <div class="info-price">
                                    <span>2699<img src="~/assets/img/manatgreen.svg" alt=""></span>
                                </div>
                                <div class="info-total">
                                    <div class="it-left">
                                        <a href=""><p>Faizsiz Kredit</p></a>
                                    </div>
                                    <div class="it-right">
                                        <p>Cəmi: 2699 <img src="~/assets/img/manatgreen.svg" alt=""></p>
                                    </div>
                                </div>
                                <div class="info-bottom">
                                    <div class="ib-left">
                                        <div class="ibl-color">
                                            <p>Reng</p>
                                            <div class="card-color"></div>
                                        </div>
                                        <div class="ibl-memory">
                                            <p>Yaddas</p>
                                            <p>128GB</p>
                                        </div>
                                    </div>
                                    <div class="ib-right number">
                                        <span class="ibr-minus">-</span>
                                        <input class="ibr-count" type="text" value="1"/>
                                        <span class="ibr-plus">+</span>
                                    </div>
                                </div>
                            </div>
        
                        </div>
                    </div>
                </div>
                <div class="basket-price col-lg-2 col-lg-3">
                    <h3>Mehsullar</h3>
                    <div class="total-price-br">
                        <div class="tpbr-left">
                            <p>Toplam qiymet:</p>
                        </div>
                        <div class="tbr-right">
                            <p>2699 <img src="~/assets/img/manatgreen.svg" alt=""></p>
                        </div>
                    </div>
                    <div class="total-endirim-br">
                        <div class="tpbr-left">
                            <p>Toplam qiymet:</p>
                        </div>
                        <div class="tbr-right">
                            <p>0 <img src="~/assets/img/manatgreen.svg" alt=""></p>
                        </div>
                    </div>
                    <hr>
                    <div class="basket-price-bottom">
                        <div class="basket-price-bottom1">
                            <div class="tpbr-left">
                                <p>Toplam qiymet:</p>
                            </div>
                            <div class="tbr-right">
                                <p>2699 <img src="~/assets/img/manatgreen.svg" alt=""></p>
                            </div>
                        </div>
                        <div class="basket-price-bottom2">
                            <a href=""><h2>Sifarisi Tamamla</h2></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
