
@{
    ViewData["Title"] = "Index";
}
<section>
    <div class="container">

        <div class="log-reg">
            <div class="log-reg-box">
                <div class="log-reg-top">
                    <div class="log-top">
                        <a href="">Giris</a>
                    </div>
                    <div class="reg-top">
                        <a href="">Qeydiyyat</a>
    
                    </div>
    
                </div>
                <div class="log-body">
                    <div>
                        <label for="uname"><b>Nömrəniz</b></label> <br>
                        <input type="text" name="uname" required>
                    </div>
                    <div>  
                        <label for="psw"><b>Şifrəniz</b></label> <br>
                        <input type="password" name="psw" required>
                    </div>
                    
                    <div class="log-body-in-btn">
                        <a href="">
                            <div class="anotherdiv">
                                Giris
                            </div>
                        </a>
                    </div>
                    

                </div>
                <div class="reg-body">
                    <div>
                        <label for="uname"><b>Ad</b></label> <br>
                        <input type="text" name="uname" required>
                    </div>
                    <div>  
                        <label for="psw"><b>Soyad</b></label> <br>
                        <input type="password" name="psw" required>
                    </div>
                    <div>
                        <label for="uname"><b>E-poçt ünvanı</b></label> <br>
                        <input type="text" name="uname" required>
                    </div>
                    <div>  
                        <label for="psw"><b>Şifrə</b></label> <br>
                        <input type="password" name="psw" required>
                    </div>
                    <div>
                        <label for="uname"><b>Mobil nömrə</b></label> <br>
                        <input type="text" name="uname" required>
                    </div>
                    
                    <div class="log-body-in-btn">
                        <a href="">
                            <div class="anotherdiv">
                                Giris
                            </div>
                        </a>
                    </div>

                </div>
                
            </div>
        </div>
    </div>
  </section>

