@model HomeViewModel
@{
    ViewData["Title"] = "Index";
}
 <section>
        <div class="container">
            <div class="home-all-top row">
                <div class="home-left col-lg-1">
                    <ul>
                        <li>
                            <div class="categorie-item">
                                <div class="item dropright">
                                    <div class="item-top">
                                        <img src="~/assets/img/categorie/categorie1.svg" alt="">
                                    </div>
                                    <div class="item-bottom">
                                        <span class="Categories_text__g3eyc">Telefon və  planşetlər</span>
                                    </div>
                                    <div class="dropright-content">
                                        <div class="row">
                                            <div class="column">
                                              <h3>Mobil telefonlar</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                            <div class="column">
                                              <h3>Planşetlər</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                            <div class="column">
                                              <h3>Ev telefonları</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="categorie-item">
                                <div class="item dropright">
                                    <div class="item-top">
                                        <img src="~/assets/img/categorie/categorie2.svg" alt="">
                                    </div>
                                    <div class="item-bottom">
                                        <span class="Categories_text__g3eyc">Qadjet və  aksesuarlar</span>
                                    </div>
                                    <div class="dropright-content dc2 ">
                                        <div class="row">
                                            <div class="column">
                                              <h3>Mobil telefonlar</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                            <div class="column">
                                              <h3>Planşetlər</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                            <div class="column">
                                              <h3>Ev telefonları</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="categorie-item">
                                <div class="item dropright">
                                    <div class="item-top">
                                        <img src="~/assets/img/categorie/categorie3.svg" alt="">
                                    </div>
                                    <div class="item-bottom">
                                        <span class="Categories_text__g3eyc">TV, Audio və  Əyləncə</span>
                                    </div>
                                    <div class="dropright-content dc3">
                                        <div class="row">
                                            <div class="column">
                                              <h3>Mobil telefonlar</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                            <div class="column">
                                              <h3>Planşetlər</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                            <div class="column">
                                              <h3>Ev telefonları</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="categorie-item">
                                <div class="item dropright">
                                    <div class="item-top">
                                        <img src="~/assets/img/categorie/categorie4.svg" alt="">
                                    </div>
                                    <div class="item-bottom">
                                        <span class="Categories_text__g3eyc">Kompüter texnikası</span>
                                    </div>
                                    <div class="dropright-content dc4">
                                        <div class="row">
                                            <div class="column">
                                              <h3>Mobil telefonlar</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                            <div class="column">
                                              <h3>Planşetlər</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                            <div class="column">
                                              <h3>Ev telefonları</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="categorie-item">
                                <div class="item dropright">
                                    <div class="item-top">
                                        <img src="~/assets/img/categorie/categorie5.svg" alt="">
                                    </div>
                                    <div class="item-bottom">
                                        <span class="Categories_text__g3eyc">Məişət  texnikası</span>
                                    </div>
                                    <div class="dropright-content dc5">
                                        <div class="row">
                                            <div class="column">
                                              <h3>Mobil telefonlar</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                            <div class="column">
                                              <h3>Planşetlər</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                            <div class="column">
                                              <h3>Ev telefonları</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="categorie-item">
                                <div class="item dropright">
                                    <div class="item-top">
                                        <img src="~/assets/img/categorie/categorie6.svg" alt="">
                                    </div>
                                    <div class="item-bottom">
                                        <span class="Categories_text__g3eyc">Nömrələr</span>
                                    </div>
                                    <div class="dropright-content dc6">
                                        <div class="row">
                                            <div class="column">
                                              <h3>Mobil telefonlar</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                            <div class="column">
                                              <h3>Planşetlər</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                            <div class="column">
                                              <h3>Ev telefonları</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="home-right col-lg-11">
                    @await Component.InvokeAsync("Slider", Model.Sliders)
                        <section>
                            <div class="home-all-mehsullar">
                                <h2>Yeni məhsullar</h2>
                                @await Html.PartialAsync("_HomeProductPartial",Model.NewArrivel)
                            </div>
                            <div class="home-all-mehsullar">
                                <h2>Ən çox satılanlar</h2>
                                @await Html.PartialAsync("_HomeProductPartial",Model.BestSeller)
                            </div>

                            
                           
                            
                        </section>
                        <div class="section">
                            <div class="partnyorlar">
                                <h2>Partnyorlar</h2>
                                <div class="partnyorlar-box">
                                    <a href=""><img src="~/assets/img/partnyorsvg/apple.svg" alt=""></a>
                                    <a href=""><img src="~/assets/img/partnyorsvg/samsung.svg" alt=""></a>
                                    <a href=""><img src="~/assets/img/partnyorsvg/xiaomi.svg" alt=""></a>
                                    <a href=""><img src="~/assets/img/partnyorsvg/jbl.svg" alt=""></a>
                                    <a href=""><img src="~/assets/img/partnyorsvg/marshal.svg" alt=""></a>
                                    <a href=""><img src="~/assets/img/partnyorsvg/tcl.svg" alt=""></a>
                                    <a href=""><img src="~/assets/img/partnyorsvg/porodo.svg" alt=""></a>
                                    <a href=""><img src="~/assets/img/partnyorsvg/sony.svg" alt=""></a>
                                </div>
                            </div>
                        </div>

                </div>
                
                
            </div>
        </div>
    </section>

    <aside class="categorymodal" >
        <ul class="category-modal-zindex">
            <li>
                <div class="categorie-item">
                    <div class="item dropright">
                        <div class="item-top">
                            <img src="~/assets/img/categorie/categorie1.svg" alt="">
                        </div>
                        <div class="item-bottom">
                            <span class="Categories_text__g3eyc">Telefon və  planşetlər</span>
                        </div>
                        <div class="dropright-content">
                            <div class="row">
                                <div class="column">
                                  <h3>Mobil telefonlar</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                                <div class="column">
                                  <h3>Planşetlər</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                                <div class="column">
                                  <h3>Ev telefonları</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="categorie-item">
                    <div class="item dropright">
                        <div class="item-top">
                            <img src="~/assets/img/categorie/categorie2.svg" alt="">
                        </div>
                        <div class="item-bottom">
                            <span class="Categories_text__g3eyc">Qadjet və  aksesuarlar</span>
                        </div>
                        <div class="dropright-content dc2 ">
                            <div class="row">
                                <div class="column">
                                  <h3>Mobil telefonlar</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                                <div class="column">
                                  <h3>Planşetlər</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                                <div class="column">
                                  <h3>Ev telefonları</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="categorie-item">
                    <div class="item dropright">
                        <div class="item-top">
                            <img src="~/assets/img/categorie/categorie3.svg" alt="">
                        </div>
                        <div class="item-bottom">
                            <span class="Categories_text__g3eyc">TV, Audio və  Əyləncə</span>
                        </div>
                        <div class="dropright-content dc3">
                            <div class="row">
                                <div class="column">
                                  <h3>Mobil telefonlar</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                                <div class="column">
                                  <h3>Planşetlər</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                                <div class="column">
                                  <h3>Ev telefonları</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="categorie-item">
                    <div class="item dropright">
                        <div class="item-top">
                            <img src="~/assets/img/categorie/categorie4.svg" alt="">
                        </div>
                        <div class="item-bottom">
                            <span class="Categories_text__g3eyc">Kompüter texnikası</span>
                        </div>
                        <div class="dropright-content dc4">
                            <div class="row">
                                <div class="column">
                                  <h3>Mobil telefonlar</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                                <div class="column">
                                  <h3>Planşetlər</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                                <div class="column">
                                  <h3>Ev telefonları</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="categorie-item">
                    <div class="item dropright">
                        <div class="item-top">
                            <img src="~/assets/img/categorie/categorie5.svg" alt="">
                        </div>
                        <div class="item-bottom">
                            <span class="Categories_text__g3eyc">Məişət  texnikası</span>
                        </div>
                        <div class="dropright-content dc5">
                            <div class="row">
                                <div class="column">
                                  <h3>Mobil telefonlar</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                                <div class="column">
                                  <h3>Planşetlər</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                                <div class="column">
                                  <h3>Ev telefonları</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="categorie-item">
                    <div class="item dropright">
                        <div class="item-top">
                            <img src="~/assets/img/categorie/categorie6.svg" alt="">
                        </div>
                        <div class="item-bottom">
                            <span class="Categories_text__g3eyc">Nömrələr</span>
                        </div>
                        <div class="dropright-content dc6">
                            <div class="row">
                                <div class="column">
                                  <h3>Mobil telefonlar</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                                <div class="column">
                                  <h3>Planşetlər</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                                <div class="column">
                                  <h3>Ev telefonları</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </aside>
